*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

nav#menu ul{
    text-transform: uppercase;
    list-style: none;
}
nav#menu{
    display: block;
}

nav#menu li{
    display: inline-block;
}

body {
    background: rgb(206, 206, 206);
background: linear-gradient(90deg, rgba(9,36,121,0.37298669467787116) 40%, rgba(184,16,221,0.165703781512605) 100%);
}
header{
    background-color:rgb(250, 250, 250);
    padding-top: 70px;
    padding-bottom: 60px;
    position: relative
}
   /*Pseudoclasses para estatilição de menu de nagevação*/
   nav#menu a:link{
    text-decoration:none;
    color:antiquewhite;
    font-weight: bold;
   }
   nav#menu a:visited{
      text-decoration: none;
      color:antiquewhite;
      font-weight: bold;
   }
   nav#menu a:hover{
       color:rgb(76, 47, 180);
   }
   nav#menu li:hover{
    
   }